parameters:
  level: 9
  paths:
    - src
    - tests
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - "#Casting to string something that's already string#"
  reportUnmatchedIgnoredErrors: false
